// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-nav {
	text-align: right;
	display: block;
	width: 660px;
	margin: auto;
}

form#new_session {
	input[type=text], input[type=password] {
		border: 1px solid #ccc;
		width: 318px;
		padding: 10px;
		font-size: 14px;
	}
}