// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_user {
	input[type=text], input[type=password] {
		border: 1px solid #ccc;
		width: 318px;
		padding: 10px;
		font-size: 14px;
	}
}